<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="Patient, Respect, Mindfulness, 0x4447, projects, aws, heroku, github, software development, design">
		<meta name="author" content="0x4447, LLC.">

		<!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

		<meta name="apple-mobile-web-app-title" content="0x4447 LLC">
		<meta name="application-name" content="0x4447 LLC">
		<meta name="msapplication-TileColor" content="#ffc40d">
		<meta name="theme-color" content="#ffffff">
		<meta property="og:image" content="{{ page.meta_img }}">
		<meta property="og:image:width" content="1103">
		<meta property="og:image:height" content="577">
		<meta property="og:url" content="https://0x4447.com/home">
		<meta property="og:type" content="website">
		<meta property="og:title" content="0x4447, LLC {% if page.title %}-{% endif %} {{ page.title }}">
		<meta property="og:description" content="{{ page.meta_desc }}">

		<title>0x4447, LLC {% if page.title%}-{% endif %} {{ page.title }}</title>
		<meta name="description" content="We build software with solid foundations to provide flexible solutions that are easily modified and extended.">

		<script crossorigin="anonymous" src="/assets/js/jquery-3.2.1.min.js"></script>

		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css">

		{% seo %}

	</head>

	<body>

		<header>
			<nav class="navbar navbar-light navbar-expand-lg site-header sticky-top d-flex justify-content-end">
				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span id="menu-button">Menu</span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto container d-flex flex-column flex-md-row justify-content-between">
						<li class="nav-item"> <a class="navbar-link py-2 d-md-inline-block" href="/">Home</a> </li>
						<li class="nav-item"> <a class="navbar-link py-2 d-md-inline-block" href="/about">About</a> </li>
						<li class="nav-item"> <a class="navbar-link py-2 d-md-inline-block" href="/clients">Clients</a> </li>
						<li class="nav-item"> <a class="navbar-link py-2 d-md-inline-block" href="/toolbox">Toolbox</a> </li>
						<li class="nav-item"> <a class="navbar-link py-2 d-md-inline-block" href="/contact">Contact</a> </li>
					</ul>
				</div>
			</nav>
		</header>