/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* roboto-100 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: url('./assets/font/roboto-v18-latin-100.eot'); /* IE9 Compat Modes */
	src: local('Roboto Thin'), local('Roboto-Thin'),
	url('../../assets/font/roboto-v18-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../assets/font/roboto-v18-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../assets/font/roboto-v18-latin-100.woff') format('woff'), /* Modern Browsers */
	url('../../assets/font/roboto-v18-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../assets/font/roboto-v18-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('./assets/font/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Roboto Light'), local('Roboto-Light'),
	url('../../assets/font/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../assets/font/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../assets/font/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
	url('../../assets/font/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../assets/font/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/font/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Roboto'), local('Roboto-Regular'),
	url('../../assets/font/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../assets/font/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../assets/font/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../../assets/font/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../assets/font/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('./assets/font/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
	src: local('Roboto Medium'), local('Roboto-Medium'),
	url('../../assets/font/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../assets/font/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../assets/font/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
	url('../../assets/font/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../assets/font/roboto-v18-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('./assets/font/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Roboto Bold'), local('Roboto-Bold'),
	url('../../assets/font/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../assets/font/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../assets/font/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
	url('../../assets/font/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../assets/font/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

body
{
	font-family: 'Roboto Mono', monospace;
	padding-bottom: 3rem;
}

#header
{
	margin-bottom: 4rem;
	position: relative;
	overflow: hidden;
    padding-bottom: 24.675rem;
}

#menu-button {
	font-size: 1.375rem;
	color: #007bff;
}

.rounded-circle
{
	margin-bottom: 15px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4
{
	margin-bottom: 1.5rem;
	text-align: center;
}

.marketing h2
{
	font-weight: 400;
}

.marketing .col-lg-4 p
{
	margin-right: .75rem;
	margin-left: .75rem;
}

/* Featurettes
------------------------- */

.featurette-divider
{
	margin: 5rem 0; /* Space out the Bootstrap <hr> more */
	border-top-color: #ffffff;
}

.footer-divider
{
	margin-top: 5em;
	margin-bottom: 4em;
}

#badges {
  height: 40px;
  text-align: justify;
  font-size: 0.1px; /* IE 9 & 10 don't like font-size: 0; */
  padding-left: 30%;
  padding-right: 30%;
}
#badges a {
  width: 40px;
  height: 40px;
  display: inline-block;
}

#badges:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

#copy {
	margin-top: 40px;
}

#commit_id {
	margin-top: 40px;
}


/* Thin out the marketing headings */
.featurette-heading
{
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.05rem;
}




/* Placeholder
-------------------------------------------------- */

#header .featurette-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.placeholder-masker {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: calc(100% - 1em);
    max-height: calc(100% - 1em);
    width: 1110px;
    height: 24.675rem;
    z-index: -1;
}

.placeholder-animated-background {
    background: transparent;
    background-size: 2000px;
    position: relative;
    width: 100%;
    height: 100%;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em)
{
	/* Bump up size of carousel content */
	.carousel-caption p
	{
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	}

	.featurette-heading
	{
		font-size: 50px;
	}
}

@media (min-width: 62em)
{
	.featurette-heading
	{
		margin-top: 7rem;
	}

}

@media (max-width: 75em) {
    .placeholder-masker {
        height: 20.675rem;
	}
}

@media (max-width: 62em) {
    .placeholder-masker {
        height: 15.675rem;
    }

    #header {
        padding-bottom: 15.675rem;
    }
}

@media (max-width: 48em) {
    .placeholder-masker {
        height: 11.675rem;
    }

    #header {
        padding-bottom: 32vw;
    }
}

/* MEDIUM DEVICES (TABLETS, LESS THAN 992px) */
@media (max-width: 991.98px) {
	.navbar-nav {
		flex-direction: column !important;
		align-items: center;
		padding-right: 0;
		padding-top: .5rem;
	}
}
