<div id="header" class="container">
	<picture>
		<source srcset="./assets/img/about/header@1x.jpg 1x, ./assets/img/about/header@2x.jpg 2x" />
		<img class="featurette-image img-fluid mx-auto" src="./assets/img/about/header@1x.jpg" alt="We can manage" />
	</picture>
</div>

<div class="container marketing">

	<h1>About 0x4447</h1>

	<p>0x4447 was created out of necessity when I realized that my many years of experience had brought me to a point where I was ready to pass on my knowledge and know-how to others who sought information. With 0x4447, my goal is to create a place where people feel safe enough to make mistakes, learn from those mistakes, and improve. This is the same way I did it, but the difference is that I’ll be there to help others when they fail and provide them with a better and more meaningful understanding of their mistakes.</p>

	<p>For whatever reason, failure is seen as a weakness and something to be avoided. But in reality, experiencing failure is the only way we humans can learn and become better people.</p>

	<p>The urge to test, experiment, and explore our curiosity is a built-in human trait, but the older generations created schools that forcibly removed this innate curiosity and wonder. I always fought back against the grown-ups, and I'm thankful that I kept my natural curiosity intact. Now I want to help bring that curiosity back out in other people.</p>

	<p>David Gatti, Owner</p>

	<hr class="featurette-divider">

	<h1>The Next Step</h1>

	<p>Now that you know why we do what we do at 0x4447, check out <a href="clients">some people who've already placed their trust in us</a>. </p>

	<hr class="featurette-divider">

</div>