<script src='https://www.google.com/recaptcha/api.js'></script>

<div id="header" class="container">
	<picture>
		<source srcset="./assets/img/contact/header@1x.jpg 1x, ./assets/img/contact/header@2x.jpg 2x" />
		<img class="featurette-image img-fluid mx-auto" src="./assets/img/contact/header@1x.jpg" alt="{{ title }}" />
		<div class="placeholder-masker">
            <div class="placeholder-animated-background"></div>
        </div>
	</picture>
</div>

<div class="container marketing">

	<h1>Feel Free to Contact Us</h1>

	<p>Please don't hesitate to contact us if you have an idea; if you need help in one specific field or with a certain portion of your project; or if you'd like us to help you build a solution from the ground up. And let's not think about cost right now. Let's see if we want to work together first, and the rest will fall into place on its own.</p>

	<hr class="featurette-divider">

	<div class="row">

		<div class="col">
			<address>
				<strong>0x4447™ LLC</strong><br>
				8 The Green STE 7254<br>
				Dover, DE 19901<br>
				United States<br>
				<br>
				Phone: <a href="tel:+1 (612) 255-9972‬">+1 (612) 255-9972‬</a>
			</address>
		</div>

		<div class="col-9">

			<form>
				<div class="form-group">
					<label>Email address</label>
					<input id="from" type="email" class="form-control" required>
					<div class="invalid-feedback">
						There is something wrong with the email.
					</div>
				</div>

				<div class="form-group">
					<label for="exampleFormControlTextarea1">Your Message</label>
					<textarea id="text" class="form-control" rows="10" required></textarea>
					<div class="invalid-feedback">
						Don't forget to write your message.
					</div>
				</div>
			</form>

			<div class="g-recaptcha"
				data-sitekey="6LeZO1YUAAAAAM8s06P_eJshjAVh5E5_6FOOyIma"
				data-callback="re_captcha"
				data-size="invisible">
			</div>

			<button id="send" type="submit" class="btn btn-primary eggshell-background">
				Send
			</button>

		</div>
	</div>

	<script>

		//
		//  1.  By default we assume that we are dealing with the development
		//      environment
		//
		var stage = 'development';

		//
		//	2.	While developing we need the file extension
		//
		var extension = '.html';

		//
		//  3.  Check if we are in production
		//
		if(document.location.hostname == '0x4447.com')
		{
			//
			//  1.  Switch to production
			//
			stage = 'production';

			//
			//	2.	When in production we remove the extension
			//
			extension = '';
		}

		//
		//	4.	React when the user wants to send the message
		//
		$('#send').on('click', function(event) {

			//
			//	1.	Prevent the form from default submit action
			//
			event.preventDefault();
			event.stopPropagation();

			//
			//	2.	Before we do anything we check if the browser thinks the
			//		form is valid.
			//
			if(!$('form')[0].checkValidity())
			{
				//
				//	1.	Adda special class that will show all the errors on the
				//		form.
				//
				$('form').addClass('was-validated');

				//
				//	->	Stop the execution of the code, since the form is
				//		wrong.
				//
				return;
			}

			//
			//	3.	Remove the click listener so the user can't keep on
			//		clicking
			//
			$('#send').off('click');

			//
			//	4.	Replace the button txt to let the user know what is
			//		happening
			//
			$('#send').text('Sending...');

			//
			//	5.	Visually disable all the elements of the form
			//
			$('#from').attr("disabled", true);
			$('#text').attr("disabled", true);
			$('#send').addClass("disabled");

			//
			//	->	Execute the reCaptcha
			//
			grecaptcha.execute();

		})

		//
		//	5.	Submit the form once Google gives the green light, meaning we
		//		are dealing with a human... one hopes.
		//
		function re_captcha(recaptcha)
		{
			//
			//	1.	Prepare the object with the data to be sent to the back end
			//
			var data = {
				from: $('#from').val(),
				text: $('#text').val(),
				recaptcha: recaptcha
			}

			//
			//	2.	Set the URL in a clear variable
			//
			var url = 'https://api.0x4447.com/' + stage + '/contact';

			//
			//	3.	Make the request
			//
			$.post(url, JSON.stringify(data))
			.done(function(response) {

				//
				//	->	Redirect to the thank you page
				//
				window.location = 'thankyou' + extension;

			})
			.fail(function(error) {

				//
				//	1.	By default we assume we were unable to get an
				//		error message
				//
				var message = "Error: n/a";

				//
				//	2.	See if we can try to get a meaningful error
				//		message.
				//
				if(error.responseJSON)
				{
					message = error.responseJSON.message;
				}

				//
				//	->	Show the final message
				//
				console.error(message);

			});

		}

	</script>

	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Organization",
			"url": "https://0x4447.com",
			"name": "0x4447 LLC",
			"contactPoint": {
				"@type": "ContactPoint",
				"telephone": "+1-612-255-9972‬",
				"contactType": "Customer service"
			}
		}
	</script>

</div>