<div class="container full-screen d-flex justify-content-between flex-column">
	<div class="row my-auto d-flex justify-content-center">
		<div class="col-12 col-md-11 col-lg-8 d-flex flex-column justify-content-center mt-5" id="home_header">
			<img class="mx-auto" src="./assets/img/_global/company_logo_rectangle.svg" id="home_header_logo" alt="logo" />
			<p class="mt-3 text-center home-header-text">We build software with solid foundations to provide flexible solutions that are easily modified and extended.</p>
		</div>
	</div>
	<div class="row d-flex position-relative icon-scroll-row">
		<div class="icon-scroll" id="icon-scroll"></div>
	</div>
</div>

<div class="container marketing">

	<div class="row">
		<div class="col-lg-4">
			<picture class="rounded-circle">
			<source srcset="./assets/img/home/circles/circle1@1x.jpg 1x, ./assets/img/home/circles/circle1@2x.jpg 2x" />
			<img src="./assets/img/home/circles/circle1@1x.jpg" alt="We Can Manage" width="140" height="140" />
			</picture>
			<h2>We Can Manage</h2>
			<p>100% — if you have an idea, but lack the technical experience required to run a software project, we can help you.</p>
		</div>
		<div class="col-lg-4">
			<picture class="rounded-circle">
				<source srcset="./assets/img/home/circles/circle2@1x.jpg 1x, ./assets/img/home/circles/circle2@2x.jpg 2x" />
				<img src="./assets/img/home/circles/circle2@1x.jpg" alt="We Can Build" width="140" height="140" />
			</picture>
			<h2>We Can Build</h2>
			<p>We sure can! Just describe your problem, and we'll come up with a clean architecture, write the necessary code, and make it work.</p>
		</div>
		<div class="col-lg-4">
			<picture class="rounded-circle">
				<source srcset="./assets/img/home/circles/circle3@1x.jpg 1x, ./assets/img/home/circles/circle3@2x.jpg 2x" />
				<img src="./assets/img/home/circles/circle3@1x.jpg" alt="We Can Research" width="140" height="140" />
			</picture>
			<h2>We Can Research</h2>
			<p>0x4447™ will find a way. Bring us your new and original idea, and we'll do the R&D for you. We'll come up with a solution.</p>
		</div>
	</div>

	<hr class="featurette-divider" id="we_can_manage">

	<div class="row featurette">
		<div class="col-md-6 order-md-2 order-sm-1">
			<picture class="featurette-image img-fluid mx-auto">
				<source srcset="./assets/img/home/squares/square1@1x.jpg 1x, ./assets/img/home/squares/square1@2x.jpg 2x">
				<img class="featurette-image img-fluid mx-auto" src="./assets/img/home/squares/square1@1x.jpg" alt="We Can Manage">
			</picture>
		</div>
		<div class="col-md-6 order-md-1 order-sm-2">
			<h2 class="featurette-heading hover-link-container">
				We Can Manage
				<a href="#we_can_manage">
					<img src="./assets/img/_global/baseline-link.svg" alt="Link Icon" />
				</a>
			</h2>
			<p class="lead">Collectively, 0x4447 has logged dozens of years of collective experience. We've worked in different capacities at a range of companies. That work included numerous projects, products, and more. Through it all, we learned how to bring out the best in people and how to organize and manage a project by building a solid foundation that allows for easy expansion, maintenance, and adaptation to the changing times.</p>
		</div>
	</div>

	<hr class="featurette-divider" id="we_can_build">

	<div class="row featurette">
		<div class="col-md-6 order-md-1">
			<picture class="featurette-image img-fluid mx-auto">
				<source srcset="./assets/img/home/squares/square2@1x.jpg 1x, ./assets/img/home/squares/square2@2x.jpg 2x" />
				<img class="featurette-image img-fluid mx-auto" src="./assets/img/home/squares/square2@1x.jpg" alt="We Can Build" />
			</picture>
		</div>
		<div class="col-md-6 order-md-2">
			<h2 class="featurette-heading hover-link-container">
				We Can Build
				<a href="#we_can_build">
					<img src="./assets/img/_global/baseline-link.svg" alt="Link Icon" />
				</a>
			</h2>
			<p class="lead">Over the years, we've built regular sites, created efficient back-end solutions, designed and implemented custom protocols, and designed systems that work effectively and serve our clients well.</p>
			<p class="lead">We understand how computers work, and we're familiar with all of their components, so we're able to tell them to do whatever we want them to do. The only thing we can't do is break the laws of physics.</p>
		</div>
	</div>

	<hr class="featurette-divider" id="we_can_research">

	<div class="row featurette">
		<div class="col-md-6 order-md-2 order-sm-1">
			<picture class="featurette-image img-fluid mx-auto">
				<source srcset="./assets/img/home/squares/square3@1x.jpg 1x, ./assets/img/home/squares/square3@2x.jpg 2x" />
				<img class="featurette-image img-fluid mx-auto" src="./assets/img/home/squares/square3@1x.jpg" alt="We Can Research" />
			</picture>
		</div>
		<div class="col-md-6 order-md-1 order-sm-2">
			<h2 class="featurette-heading hover-link-container">
				We Can Research
				<a href="#we_can_research">
					<img src="./assets/img/_global/baseline-link.svg" alt="Link Icon" />
				</a>
			</h2>
			<p class="lead">To stay competitive, you have to consistently create new features based on constant research.</p>
			<p class="lead">When it comes to R&D, you won't find a better company than 0x4447. We're always questioning the world, turning over every rock to see what's underneath, and unceasingly asking why. We're inquisitive by design.</p>
		</div>
	</div>

	<hr class="featurette-divider">

	<h1>The Next Step</h1>

	<p>Now that you know a little bit more about what we can do, check out <a href="about.html">why we do what we do</a>.</p>

</div>

<script>

//
//	Shows a `div` containing a scrolling icon for 2 seconds.
//
function show_icon_for_two_seconds() {

	//
	//	1.	Fade in the icon.
	//
	$('#icon-scroll').fadeIn();

	//
	//	2.	Set a timer for 2 seconds.
	//
	setTimeout(function() {

		//
		//	1.	Fade out the icon after 2 seconds.
		//
		$('#icon-scroll').fadeOut();

	}, 2000)

	//
	//	3.	Listen for if the window starts scrolling, so we can hide the
	//		icon. this way we live the user with a clean UI.
	//
	$(window).scroll(function() {

		//
		//	4.	Hide the icon if the window scrolls.
		//
		$('#icon-scroll').fadeOut();

	});
}

//
//	Set a timer for 1 second after which we will display a scrolling
//	animation to help the user know that they can scroll the page down
//	to get more content.
//
setTimeout(function() {

	//
	//	1.	Check if the window has been scrolled from the top after 1
	//		second.
	//
	if(!$(window).scrollTop())
	{

		//
		//	1.	Call function to show the icon for 2 seconds.
		//
		show_icon_for_two_seconds();
	}

}, 1000);

</script>