<div id="header" class="container">
	<picture>
		<source srcset="./assets/img/home/header@1x.jpg 1x, ./assets/img/home/header@2x.jpg 2x" />
		<img class="featurette-image img-fluid mx-auto" src="./assets/img/home/header@1x.jpg" alt="We can manage" />
	</picture>
</div>

<div class="container marketing">

	<div class="row">
		<div class="col-lg-4">
			<picture class="rounded-circle">
				<source srcset="./assets/img/home/circles/circle1@1x.jpg 1x, ./assets/img/home/circles/circle1@2x.jpg 2x" />
				<img src="./assets/img/home/circles/circle1@1x.jpg" alt="We can manage" width="140" height="140" />
			</picture>
			<h2>We Can Manage</h2>
			<p>Yes, we can do it for you. If you have an idea, but lack the technical experience required to run a software project, we can help you.</p>
		</div>
		<div class="col-lg-4">
			<picture class="rounded-circle">
				<source srcset="./assets/img/home/circles/circle2@1x.jpg 1x, ./assets/img/home/circles/circle2@2x.jpg 2x" />
				<img src="./assets/img/home/circles/circle2@1x.jpg" alt="We can manage" width="140" height="140" />
			</picture>
			<h2>We Can Build</h2>
			<p>We sure can! Just describe your problem, and we'll come up with a clean architecture, write the necessary code, and make it work.</p>
		</div>
		<div class="col-lg-4">
			<picture class="rounded-circle">
				<source srcset="./assets/img/home/circles/circle3@1x.jpg 1x, ./assets/img/home/circles/circle3@2x.jpg 2x" />
				<img src="./assets/img/home/circles/circle3@1x.jpg" alt="We can manage" width="140" height="140" />
			</picture>
			<h2>We Can Research</h2>
			<p>0x4447 will find a way. Bring us your new and original idea, and we'll do the R&D for you. We'll come up with a solution for your project.</p>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-6">
			<h2 class="featurette-heading">We Can Manage</h2>
			<p class="lead">Collectively, 0x4447 has logged dozens of years of collective experience. We've worked in different capacities at a range of companies. That work included numerous projects, products, and more. Through it all, we learned how to bring out the best in people and how to organize and manage a project by building a solid foundation that allows for easy expansion, maintenance, and adaptation to the changing times.</p>
		</div>
		<div class="col-md-6">
			<picture class="featurette-image img-fluid mx-auto">
				<source srcset="./assets/img/home/squares/square1@1x.jpg 1x, ./assets/img/home/squares/square1@2x.jpg 2x" />
				<img class="featurette-image img-fluid mx-auto" src="./assets/img/home/squares/square1@1x.jpg" alt="We can manage" />
			</picture>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-6 order-md-2">
			<h2 class="featurette-heading">We Can Build</h2>
			<p class="lead">Over the years, we've built regular sites, created efficient back-end solutions, designed and implemented custom protocols, and designed systems that work effectively and serve our clients well.</p>
			<p class="lead">We understand how computers work, and we're familiar with all of their components, so we're able to tell them to do whatever we want them to do. The only thing we can't do is break the laws of physics.</p>
		</div>
		<div class="col-md-6 order-md-1">
			<picture class="featurette-image img-fluid mx-auto">
				<source srcset="./assets/img/home/squares/square2@1x.jpg 1x, ./assets/img/home/squares/square2@2x.jpg 2x" />
				<img class="featurette-image img-fluid mx-auto" src="./assets/img/home/squares/square2@1x.jpg" alt="We can build" />
			</picture>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-6">
			<h2 class="featurette-heading">We Can Research</h2>
			<p class="lead">To stay competitive, you have to consistently create new features based on constant research.</p>
			<p class="lead">When it comes to R&D, you won't find a better company than 0x4447. We're always questioning the world, turning over every rock to see what's underneath, and unceasingly asking why. We're inquisitive by design.</p>
		</div>
		<div class="col-md-6">
			<picture class="featurette-image img-fluid mx-auto">
				<source srcset="./assets/img/home/squares/square3@1x.jpg 1x, ./assets/img/home/squares/square3@2x.jpg 2x" />
				<img class="featurette-image img-fluid mx-auto" src="./assets/img/home/squares/square3@1x.jpg" alt="We can research" />
			</picture>
		</div>
	</div>

	<hr class="featurette-divider">

	<h1>The Next Step</h1>

	<p>Now that you know a little bit more about what we can do, check out <a href="about">why we do what we do</a>.</p>

	<hr class="featurette-divider">

</div>