<div id="header" class="container">
	<picture>
		<source srcset="./assets/img/ideas/header@1x.jpg 1x, ./assets/img/ideas/header@2x.jpg 2x" />
		<img class="featurette-image img-fluid mx-auto" src="./assets/img/ideas/header@1x.jpg" alt="We can manage" />
	</picture>
</div>

<div class="container marketing">

	<h1>Some ideas that we can work on together</h1>

	<p>We created a list of ideas that will help you understand what we can do for you. This is for sure not all we can do, but it is a good showcase of the latest technologies and trends on the market that we can take advantage of to make your idea a reality.</p>

	<hr class="featurette-divider" id="go_serverless">

	<div class="row featurette">
		<div class="col-md-6 order-md-1">
			<picture class="featurette-image img-fluid mx-auto">
				<source srcset="./assets/img/ideas/squares/square1@1x.jpg 1x, ./assets/img/ideas/squares/square1@2x.jpg 2x" />
				<img class="featurette-image img-fluid mx-auto" src="./assets/img/ideas/squares/square1@1x.jpg" alt="We can manage" />
			</picture>
		</div>
		<div class="col-md-6 order-md-2">
			<a href="#go_serverless" class="linked-tile">
				<h2 class="featurette-heading">Go Serverless</h2>
			</a>
			<p class="lead">The serverless movement is picking up in popularity, and rightfully so. Since there are no servers to manage, nothing to hack in to, take over or assimilate in to a bot net. We always recommend starting serverless and then brake out to a custom server only if needed.</p>
		</div>
	</div>

	<hr class="featurette-divider" id="iot_with_aws">

	<div class="row featurette">
		<div class="col-md-6 order-md-2 order-sm-1">
			<picture class="featurette-image img-fluid mx-auto">
				<source srcset="./assets/img/ideas/squares/square2@1x.jpg 1x, ./assets/img/ideas/squares/square2@2x.jpg 2x" />
				<img class="featurette-image img-fluid mx-auto" src="./assets/img/ideas/squares/square2@1x.jpg" alt="We can manage" />
			</picture>
		</div>
		<div class="col-md-6 order-md-1 order-sm-2">
			<a href="#iot_with_aws" class="linked-tile">
				<h2 class="featurette-heading">IoT with AWS</h2>
			</a>
			<p class="lead">The Internet of Things is here to stay, and we are here to help you implement a full back-end secure solution that can handle thens of thousands of remote devices across the globe with real time secure communication by implementing a custom solution or taking advantage of AWS IoT.</p>
		</div>

	</div>

	<hr class="featurette-divider" id="data_pipeline">

	<div class="row featurette">
		<div class="col-md-6 order-md-1">
			<picture class="featurette-image img-fluid mx-auto">
				<source srcset="./assets/img/ideas/squares/square3@1x.jpg 1x, ./assets/img/ideas/squares/square3@2x.jpg 2x" />
				<img class="featurette-image img-fluid mx-auto" src="./assets/img/ideas/squares/square3@1x.jpg" alt="We can manage" />
			</picture>
		</div>
		<div class="col-md-6 order-md-2">
			<a href="#data_pipeline" class="linked-tile">
				<h2 class="featurette-heading">Data Pipeline</h2>
			</a>
			<p class="lead">Do you need to ingest thousands of data points a second, process this data, convert it in to a different format, store it and make it ready to be queried for later manipulation? AWS Kinesis is your best bet. We can help you setup a full data pipeline flow from start to finish.</p>
		</div>
	</div>

	<hr class="featurette-divider" id="alexa_skill">

	<div class="row featurette">
		<div class="col-md-6 order-md-2 order-sm-1">
			<picture class="featurette-image img-fluid mx-auto">
				<source srcset="./assets/img/ideas/squares/square4@1x.jpg 1x, ./assets/img/ideas/squares/square4@2x.jpg 2x" />
				<img class="featurette-image img-fluid mx-auto" src="./assets/img/ideas/squares/square4@1x.jpg" alt="We can manage" />
			</picture>
		</div>
		<div class="col-md-6 order-md-1 order-sm-2">
			<a href="#alexa_skill" class="linked-tile">
				<h2 class="featurette-heading">Alexa Skill</h2>
			</a>
			<p class="lead">The future of computing for consumers is voice. We an help you crate an interactive experience that feels natural to your customers. If you need an Alexa Skill to take in orders, answer questions and interact with your user base, we can make it happen.</p>
		</div>
	</div>

	<hr class="featurette-divider" id="aws_cognito">

	<div class="row featurette">
		<div class="col-md-6 order-md-1">
			<picture class="featurette-image img-fluid mx-auto">
				<source srcset="./assets/img/ideas/squares/square5@1x.jpg 1x, ./assets/img/ideas/squares/square5@2x.jpg 2x" />
				<img class="featurette-image img-fluid mx-auto" src="./assets/img/ideas/squares/square5@1x.jpg" alt="We can manage" />
			</picture>
		</div>
		<div class="col-md-6 order-md-2">
			<a href="#aws_cognito" class="linked-tile">
				<h2 class="featurette-heading">AWS Cognito</h2>
			</a>
			<p class="lead">Taking care of security is not an easy task. That is why we like to go serverless, there is less moving parts that can go wrong. Authentication is one of those things. Why reinvent the wheel if you can take advantage of what the Cloud has to offer.</p>
			<p class="lead">With Cognito not only we can implement a registration and login process from start to finish, we can easily implement social logins, SAML and SSO.</p>
		</div>
	</div>

	<hr class="featurette-divider" id="call_center_in_the_cloud">

	<div class="row featurette">
		<div class="col-md-6 order-md-2 order-sm-1">
			<picture class="featurette-image img-fluid mx-auto">
				<source srcset="./assets/img/ideas/squares/square6@1x.jpg 1x, ./assets/img/ideas/squares/square6@2x.jpg 2x" />
				<img class="featurette-image img-fluid mx-auto" src="./assets/img/ideas/squares/square6@1x.jpg" alt="We can manage" />
			</picture>
		</div>
		<div class="col-md-6 order-md-1 order-sm-2">
			<a href="#call_center_in_the_cloud" class="linked-tile">
				<h2 class="featurette-heading">A call center in the Cloud</h2>
			</a>
			<p class="lead">Having a human interact with you customers is key to create a long lasting bond. The best solution is having a call center in the Cloud with AWS Connect.</p>
			<p class="lead">With Connect you cane automate and interact with your customers any time of the day and from any place on the planet. The possibilities are endless.</p>
		</div>
	</div>

	<hr class="featurette-divider" id="aws_management">

	<div class="row featurette">
		<div class="col-md-6 order-md-1">
			<picture class="featurette-image img-fluid mx-auto">
				<source srcset="./assets/img/ideas/squares/square7@1x.jpg 1x, ./assets/img/ideas/squares/square7@2x.jpg 2x" />
				<img class="featurette-image img-fluid mx-auto" src="./assets/img/ideas/squares/square7@1x.jpg" alt="We can manage" />
			</picture>
		</div>
		<div class="col-md-6 order-md-2">
			<a href="#aws_management" class="linked-tile">
				<h2 class="featurette-heading">AWS Management</h2>
			</a>
			<p class="lead">If you reached a point where your AWS infrastructure grew beyond your capabilities to manage it, let us help you with the DevOps approach and automation. By taking advantage of AWS Config, Lambda, CloudWatch and all the other serverless offerings, we can build a system that will manage the AWS for you.</p>
			<p class="lead">It will monitor security, it will automatically deploy your project, it will notify you of any issues, and more. Don't do it by hand when code can do it for you.</p>
		</div>
	</div>

	<hr class="featurette-divider" id="restful_api">

	<div class="row featurette">
		<div class="col-md-6 order-md-2 order-sm-1">
			<picture class="featurette-image img-fluid mx-auto">
				<source srcset="./assets/img/ideas/squares/square8@1x.jpg 1x, ./assets/img/ideas/squares/square8@2x.jpg 2x" />
				<img class="featurette-image img-fluid mx-auto" src="./assets/img/ideas/squares/square8@1x.jpg" alt="We can manage" />
			</picture>
		</div>
		<div class="col-md-6 order-md-1 order-sm-2">
			<a href="#restful_api" class="linked-tile">
				<h2 class="featurette-heading">RESTfull API</h2>
			</a>
			<p class="lead">Today having an API is the key for your product success. If you need to have a platform for other developers, the best way is to do it using API Gateway. There is nothing to manage, it automatically takes cares of API Keys, throttling, cashing, versioning and more.</p>
			<p class="lead">We can design and implement an API that developers will love to use.</p>
		</div>
	</div>

	<hr class="featurette-divider" id="socket_server">

	<div class="row featurette">
		<div class="col-md-6 order-md-1">
			<picture class="featurette-image img-fluid mx-auto">
				<source srcset="./assets/img/ideas/squares/square9@1x.jpg 1x, ./assets/img/ideas/squares/square9@2x.jpg 2x" />
				<img class="featurette-image img-fluid mx-auto" src="./assets/img/ideas/squares/square9@1x.jpg" alt="We can manage" />
			</picture>
		</div>
		<div class="col-md-6 order-md-2">
			<a href="#socket_server" class="linked-tile">
				<h2 class="featurette-heading">Socket Server</h2>
			</a>
			<p class="lead">We can go even deeper then serverless, when your project is 100% custom and have it's own protocol for communication with the world, we can build a server that will communicate with it.</p>
		</div>
	</div>

	<hr class="featurette-divider" id="protocol_design">

	<div class="row featurette">
		<div class="col-md-6 order-md-2 order-sm-1">
			<picture class="featurette-image img-fluid mx-auto">
				<source srcset="./assets/img/ideas/squares/square10@1x.jpg 1x, ./assets/img/ideas/squares/square10@2x.jpg 2x" />
				<img class="featurette-image img-fluid mx-auto" src="./assets/img/ideas/squares/square10@1x.jpg" alt="We can manage" />
			</picture>
		</div>
		<div class="col-md-6 order-md-1 order-sm-2">
			<a href="#protocol_design" class="linked-tile">
				<h2 class="featurette-heading">Protocol Design</h2>
			</a>
			<p class="lead">We love specialized project that require low level knowledge. If you need a custom way to communicate with other parts of your project we can help you design a custom protocol with a fantastic documentation to help anyone understand how it works.</p>
		</div>
	</div>

	<hr class="featurette-divider">

	<h1>The Next Step</h1>

	<p>Now that we give you some ideas, check out <a href="clients.html">who has already placed their trust in us</a>.</p>

</div>